@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#principal{
    background-color: #b5c6e0;
    display: flex;
    width: 800px;
    height: 400px;
    padding: 20px;
    border-radius: 5px;
    border-style:solid;
    
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #ebf4f5;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    justify-content:center;
    align-items: center;
    margin: 0%;

}

.apresentacao{
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.apresentacao_nome{
    text-align: center;
    
}

.apresentacao_resumo{
    text-align: justify;
}

.imagem{
    width: 400px;
    border-radius: 100%;
    border-style:double;
    border-width: 5px;
}
.btns_conjunto{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btns{
    width: 180px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border: 2px;
    border-radius: 10px;
    border-color: #9bafd9;
    background-color: #ebf4f5;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-style: solid;
    color: black;
}

.imagem_btn{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}